a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

button,
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

input, button {
    box-shadow: none;
    border: none;
    padding: 0.25rem 0.5rem;
}


.button {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.05rem;
    box-shadow: none;
    border: none;
}

.button.gray {
    background-color: var(--gray-color);
}

.button.black {
    background-color: var(--black-color);
}

.button.white {
    background-color: var(--white-color);
}

.delete-button {
    width: 1.3rem;
    height: 1.3rem;
    background: transparent url('../icons/icon-delete-white.svg') no-repeat 50% 50% / 1.2rem;
    transition: all 0.5s;
}

.delete-button:hover {
    background-image: url('../icons/icon-delete.svg');
}

.modify-button {
    width: 1.3rem;
    height: 1.3rem;
    background: transparent url('../icons/icon-modify-white.svg') no-repeat 50% 50% / 1.2rem;
    transition: all 0.5s;
}

.modify-button:hover {
    background-image: url('../icons/icon-modify.svg');
}

.reply-button {
    width: 1.3rem;
    height: 1.3rem;
    background: transparent url('../icons/icon-reply.svg') no-repeat 50% 40% / 1.2rem;
}

.send-button {
    background: transparent url('../icons/icon-send.svg') no-repeat 50% 50% / 1.5rem;
}