.list-wrap {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    table-layout: fixed;
}

.list-wrap .chat-wrap {
    border-bottom: 2px solid var(--black-color);
}

.list-wrap .chat-wrap th {
    font-weight: 600;
}

.list-wrap .chat-wrap th,
.list-wrap .chat-wrap td {
    padding: 1rem;
    text-align: center;
}

.list-wrap .chat-wrap td:first-child {
    text-align: start;
    overflow: hidden;
    min-width: 10rem;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-wrap .chat-wrap :nth-child(2) {
    width: 10rem;
    word-break: keep-all;
}

.list-wrap .chat-wrap :nth-child(3) {
    min-width: 3rem;
    width: 3rem;
}

.list-wrap .chat-wrap :last-child {
    min-width: 9rem;
    width: 9rem;
}

.page-list {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.page-list li{
    display: flex;
}

.page-list li a {
    width: 1.5rem;
    height: 1rem;
    text-align: center;
    font-weight: 500;
}

.page-list .page.current-page {
    text-decoration: underline;
}

.page-list li .pn-button {
    width: 4rem;
}

.chat-list footer {
    position: fixed;
    bottom: 2rem;
    width: 83%;
}

.search-box {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.search-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
    height: 12rem;
    background-color: var(--black-background);
    border-radius: 1rem;
}

.search-wrap h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.search-wrap .close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.1rem;
    background: var(--gray-color);
    border-radius: 100%;
    padding: 0;
    color: var(--white-color)
}

.search-form {
    display: flex;
    gap: 1rem;
}

.search-form .button {
    font-size: 0.8rem;
    width: 2.5rem;
    height: 1.7rem;
    padding: 0;
    background-size: 1.3rem;
}

.page-list .search-button {
    position: absolute;
    right: 0;
}